.field-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.field-label {
    color: #999;
}
.field-input {
    font-size: medium;
    padding: 5px;
}
.field-error {
    .field-label {
        color: #F00;
    }
    .field-input {
        border: 1px solid red;
    }
}
.field-error-message {
    color: #F00;
    font-size: smaller;
}