.home {
    display: grid;
    grid-template-columns: subgrid;
    grid-gap: auto;
    grid-column: 1 / 2;
    align-items: center;
}
.home-content {
    text-align: center;
    grid-column: 1 / 2;
}

h2{
    font-size: 4em;
    word-wrap: break-word;
}

p {
    font-size: 1em;
}

@media (width > 900px) {
    .home {
        grid-column: 1 / 9;
    }
    .home-content {
        grid-column: 3 / 7;
    }
    h2 {
        font-size: 5.6em;
    }
}